{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
    <a class="navbar-brand display-3 fw-bold fst-italic" href="/">David</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if pagina_actual != 'blogs' %}
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-primary btn-sm" href="{% url 'blog:posts' %}" target="_blank">Blog</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>